.black_bar{
    padding: 0!important;
}

.logo_sony{
    width: 10rem;
}

.returnal_logo{
    width: 250px;
}

.background_img{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}


.background_img2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.container_height{
    height: 500px;
}


.container_height2{
    height: 600px;
}


.container_height3{
    height: 300px;
}

.height_100{
    height: 100%;
}

.cover_img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.cover_img2{
    
    height: 100%;
    width: 100%;
}

.radius_20px{
    border-radius: 20px;
}

.width_200px{
    width: 200px;
}

.object_top{
    object-position: top;
}

.opacity_img{
    opacity: 0.8;
}

.padding_img{
    padding: 0!important;
    padding-top: 0.5rem!important;
}

.bg_blue{
    background-color: #161c3b;
}

.bg_secondary{
    background-color: #bebcbb;
}

.color_btn{
    color: #4b79e3!important;
}

