.logo_sony{
    width: 10rem;
}

.returnal_logo{
    width: 250px;
}

.background_img{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.container_height{
    height: 500px;
}

.height_100{
    height: 100%;
}

.cover_img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.radius_20px{
    border-radius: 20px;
}

.width_200px{
    width: 200px;
}

.object_top{
    object-position: top;
}


